/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
 /* My Code Statrts below this line  */

.container {
	width: 80%;
	margin: 0 auto;
}

header {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	padding: 10px 40px;
	width: 100%;
}

nav {
	display: flex;
}

nav a {
	padding-right: 40px;
	text-decoration: none;
	color: #d3d3d3;
}

.logo {
	width: 150px;
	height: 40px;
}

.cta {
	display: flex;
	justify-content: space-between;
	margin: 20px auto;
}

.cta-content {
	display: flex;
	flex-flow: column nowrap;
}

 .cta-content {
	width: 50%;
	margin: 50px 40px;
} 

.cta-content h1 {
	font-size: 70px;
	text-align: center;
}

.cta button {
	align-self: center;
	width: 80%;
	border: 1px solid black;
	padding: 10px 30px;
	background: white;
} 

.main-content {
	width: 100%;
	margin: 30px 0;
}

.about-features {
	display: flex;
}

.features {
	width: 50%;
	padding: 30px;
	margin: 30px auto;
}

.about {
	width: 50%;
	padding: 30px;
	margin: 30px auto;
}

.middle-img {
	width: 90%;
	margin-left: 50px;
}

.info {
	display: flex;
	justify-content: space-between;
	padding: 30px;
	margin: 20px;
}

.contact {
	display: flex;
	flex-direction: column;
	margin: 30px 50px;
}

small {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 50px 0;
}

/* Start of services page */

.services-div {
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

.services-div {
	padding: 30px 10px;
	width: 100%;
}

.services h2 {
	font-weight: bold;
	font-size: 25px;
}

.services-header-img {
	width: 100%;
}

.feature-div {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 40px;
	
}

.box {
	border: 1px solid black;
	background: #f1f1f1;
	width: 40%;
	padding: 20px;
	margin: 20px 10px;
}

.box button {
	padding: 10px 30px;
	margin-top: 20px;
	border-radius: 10px;
	border: 1px solid #000;
	color: #000;
}

.fun-facts {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.facts {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	align-items: flex-start;
	width: 50%;
}

.facts ul {
	list-style-type: square;
	margin: 20px 0 0 20px;
}

/* Start of Product page */

.main-cta {
	background: #f1f1f1;
	text-align: center;
	padding: 20px 0;
}

.main-cta h1 {
	font-size: 40px;
}

.main-cta h2 {
	font-size: 20px;
}

.main-cta button {
	padding: 10px 80px;
	background: skyblue;
	border: none;
	border-radius: 10px;
	font-size: 20px;
	margin-top: 10px;
}

.main-product {
	display: flex;
	margin: 40px auto;
}

.product-box {
	padding: 10px;
	border: 1px solid #000;
	margin: 0 10px;
	background: #f1f1f1;
}

.product-box button {
	margin-top: 20px;
	background: skyblue;
	border: none;
	border-radius: 10px;
	padding: 5px 20px;
	font-size: 15px;
}

/* Media Quires */

/* Tablet View - 800px */
@media(max-width:800px){
	/* Container */
	.container {
		width: 100%;
	}
	
	/* Header Section */
	header {
		display: flex;
		flex-flow: column-reverse nowrap;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.logo-container {
		margin: 20px auto;
		padding-left: 80px;
	}
	
	.navbar {
		margin: 30px auto;
		padding: 0 40px;
	}

	.navbar a {
		margin-left: 15px;
	}

	/* CTA Section */
	.cta-content {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding-left: 70px;
	}

	.cta button {
		width: 40%;
	}
	
	.cta-img {
		display: none;
	}

	/* Info Section */
	.service, .product, .vision {
		justify-content: space-around;
		padding: 10px;
		margin: 15px 5px;
	}

	.services {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 10px;
		margin: 15px 5px;
	}

	/* Contact Section */
	.contact {
		margin: 30px 70px;
	}
}

/* Mobile View - 500px */
@media(max-width:500px){
	/* Navbar Section */
	.logo-container {
		display: flex;
		justify-content: center;
		padding-left: 20px;
	}
	
	.navbar {
		display: flex;
		flex-direction: column;
		justify-content: center;
		/* padding-left: 120px; */
		width: 100%;
	}

	.navbar a {
		display: flex;
		justify-content: center;
		padding: 20px;
		border-bottom: 1px solid #808080;
		font-size: 20px;
		color: #808080;
	}

	.cta {
		padding-right: 50px;
	}

	.cta button {
		width: 50%;
	}

	/* Main Content Section */
	.about-features {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* padding-left: 100px; */
		width: 100%;
		font-size: 18px;
	}

	.about, .features {
		width: 80%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: flex-start;;
		padding: 5px 10px;
	}

	.middle-img {
		width: 80%;
	}

	.info {
		flex-direction: column;
	}

	hr {
		width: 80%;
	}
}